<template>
    <div class="container template" id="logs-template" data-tab="logs" style="margin-top:15px;">
        <div style="min-height:420px; max-height:420px; width:100%; overflow:auto; display:inline-block;">
        <table id="metris-table-logs" class="table table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Message</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
        <div class="card-footer text-muted" style="bottom: 0px;">
            Messages are received only when this tab is active.
        </div>
    </div>
    <script>
        //https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/signalr/javascript-client.md
        const signalR = require('@aspnet/signalr');  
        const connection = new signalR.HubConnectionBuilder()
                    .withUrl("http://localhost:9100/controlhub")
                    .build();

        connection.on("Receive", data => {
            addMessage(data);
        });

        // https://getbootstrap.com/docs/4.0/components/navs/#events
        function configureLogsBehavior(){
            $('#logs-tab').on('shown.bs.tab', function(){
                connect();
            });

            $('#logs-tab').on('hidden.bs.tab', function(){
                disconnect();
            });
        }

        function connect(){
            connection.start()
                .then(() => connection.invoke("SendMessage", "System tray connected to " + connection.connection.baseUrl));
        }

        function disconnect(){
            connection.stop();
        }

        function addMessage(data){
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var row = "<tr><th scope='row'>" + time + "</th><td>LOG</td><td>" + data + "</td></tr>"
            $("#metris-table-logs tbody").prepend(row);

            var rowcount = $("metris-table-logs tr").length;
            if(rowcount > 50)
            {
                $("#table-body tr:last-child").remove();
            }
        }

        $(function() {
            configureLogsBehavior();
        });
    </script>
</template>