<template>
    <div class="container template" id="troubleshoot-template" data-tab="troubleshoot">
        <div class="text-center"> 
            <p>Under development</p>
            <button type="button" class="btn btn-primary align-middle">Check Connector now</button>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <textarea class="form-control" id="exampleFormControlTextarea3" rows="10" style="resize: none;"></textarea>
        </div>
    </div>
    <div class="card-footer text-muted">
        For more information, visite Andritz Metris official help page.
    </div>
</template>