/***************************************************
   ____ _   _ ____ _____ ___  __  __      ____ ____ ____  
  / ___| | | / ___|_   _/ _ \|  \/  |    / ___/ ___/ ___| 
 | |   | | | \___ \ | || | | | |\/| |   | |   \___ \___ \ 
 | |___| |_| |___) || || |_| | |  | |   | |___ ___) |__) |
  \____|\___/|____/ |_| \___/|_|  |_|    \____|____/____/ 

***************************************************/

html, body {
  height:100%;
}

.metris-bar {
  background-image: url('../images/metris.png'); 
  background-color:black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size:cover;
}